<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Conceptive\Commerce\ReferenceImageUpload" type="Conceptive\Commerce\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">conceptive/tmp/feature</argument>
            <argument name="basePath" xsi:type="string">conceptive/feature</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Conceptive\Commerce\Controller\Adminhtml\Feature\Image\Upload">
        <arguments>
            <argument name="Commerceer" xsi:type="object">Conceptive\Commerce\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>